//COLORS FOR CARD
$color-default-card: #1698d9;
$color-default-hover-card: #2ea8e6;
$color-selected-card: #d91667;
$color-selected-hover-card: #e62e7a;

//BASIC COLORS
$color-black-basic: #000000;
$color-basic-grey: #666666;
$color-disabled: #b3b3b3;
$color-basic-yellow: #ffff71;
$color-white-light: #ffffff;
$color-white-dark: #f2f2f2; 